### Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

### Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

Lists are created using square brackets:

In [13]:
xs = [3, 1, 2]    # Create a list
print(xs)  # Prints "[3, 1, 2] 2"
print( xs[2])

[3, 1, 2]
2

### Dictionaries

A dictionary stores (key, value) pairs, similar to a Map in Java or an object in Javascript. You can use it like this:

In [14]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print(d)     # Check if a dictionary has a given key; prints "True"

cute
{'cat': 'cute', 'dog': 'furry'}

### Sets

A set is an unordered collection of distinct elements. As a simple example, consider the following

In [15]:
animals = {'cat', 'dog'}
print(animals)   # Check if an element is in a set; prints "True"
animals.add('fish')       # Add an element to a set
print(animals)

{'cat', 'dog'}
{'cat', 'dog', 'fish'}

### Tuples

A tuple is a collection which is ordered and unchangeable

Tuples are written with round brackets.

Tuples allow duplicate values:

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [16]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')